
section {
    background-image: url(pics/bg1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
    
  }
  
  background {
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.829);
    position: absolute;
  }
  
  section h1 {
    color: #5EE6C6;
    text-align: center;
    font-size: 100px;
    text-shadow: 3px 3px 4px rgb(31, 31, 31);
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  section p {
    color: #5EE6C6;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);
    text-align: center;
    z-index: 1;
  }
  