*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'KoHo', sans-serif;
    background-image: url(pics/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: floralwhite;
}

nav {
    background: rgba(0, 255, 255, 0.6);
    height: 80px;
}

label.logo1{
        color: whitesmoke;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
}

img.logo1{
    width: 80px;
    height: 80px;
    padding: 2px;
}

nav ul {
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;

}

nav ul li a{
    color: whitesmoke;
    font-size: 17px;
    padding-left: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
} 

a:hover{
    background: skyblue;
    transition :0.7s;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}

#check{
    display:none;

}

h1{
    font-size: 100px;
    color: snow;
    text-shadow: 0px 0px 7px rgba(250, 225, 0, 0.8);
    text-align: center;
    
}

main {
    font-size: 75px;
    color: snow;
    text-shadow: 0px 0px 7px rgba(250, 150, 0, 0.8);
    text-align: center;
}



@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(20, 153, 153, 0.2);
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .7s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px; 
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover{
        background: none;
        color:skyblue;
    }

    #check:checked ~ ul {
        left: 0;
    }

}